@model Domiva.Models.Solicitud_ambulancia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitud_ambulancia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ambulancia.patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ambulancia.patente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitudes.Coordenada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitudes.Coordenada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_asistencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
