
@{
    ViewBag.Title = "Secretaria";
}

<h2>Secretaria</h2>

<div></div>
<div class="col-md-4">
    <dl>
        <dt>Turnos</dt>
        <dd>

            <input type="button" value="Turnos" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "turnoes")'" />
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        <dt>Personal</dt>
        <dd>
            <input type="button" value="Personal" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "Personals")'" />

        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        <dt>Choferes </dt>
        <dd>
            <input type="button" value="Choferes" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index","Choferes")'" />
        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        <dt>Insumos </dt>
        <dd>
            <input type="button" value="Insumos" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index","Insumos")'" />

        </dd>
    </dl>
</div>

<div class="col-md-4">
    <dl>
        <dt>Ambulancias</dt>
        <dd>
            <input type="button" value="Ambulancias" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index", "Ambulancias")'" />

        </dd>
    </dl>
</div>
<div class="col-md-4">
    <dl>
        <dt>Personal correo</dt>
        <dd>
            <input type="button" value="correos personal" class="btn btn-primary btn-lg active" onclick="location.href='@Url.Action("index","personal_correo")'" />

        </dd>
    </dl>
</div>
<div>___________________________________________________________________________________________________________________________ </div>
       
           

      
